## Run Twitter API to collect tweets

In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

## Loading data from txt file generated through twitter API

In [2]:
tweets = pd.read_csv('/Users/macbook/GA-DSI/projects/projects-capstone/captured-tweets.txt', sep='\n', header = None, error_bad_lines=False)

Skipping line 439: expected 1 fields, saw 2
Skipping line 632: expected 1 fields, saw 2
Skipping line 1045: expected 1 fields, saw 2
Skipping line 2276: expected 1 fields, saw 2
Skipping line 2788: expected 1 fields, saw 2
Skipping line 2943: expected 1 fields, saw 2
Skipping line 3259: expected 1 fields, saw 2
Skipping line 3285: expected 1 fields, saw 2
Skipping line 3376: expected 1 fields, saw 2
Skipping line 3405: expected 1 fields, saw 2
Skipping line 3427: expected 1 fields, saw 2
Skipping line 3751: expected 1 fields, saw 2

In [3]:
tweets.head(10)

                                                   0
0  RT @HENDRIXNASH: Premiered by @NoiseyMusic. - ...
1       RT @GamingAnarchist: https://t.co/ByrvubKPH4
2  This is literally the same discredited Jack Th...
3                                              http…
4  When/if Presidential election coverage returns...
5  Trump supporters really need to grasp that the...
6  RT @krglick: Congrats to my good friend @plwil...
7  RT @tagaq: @julytalk our sister debilitated wa...
8  RT @billboard: Watch Miranda Lambert rock out ...
9       RT @GamingAnarchist: https://t.co/ByrvubKPH4

## Cleaning data and preparing for NLP
Each area specified as subject will be switched out for specific subject to be run

In [4]:
# removing punctuation
import string

def normalize_string(s):
    for p in string.punctuation:
        s = s.replace(p, ' ')
    s = s.lower().strip()
    return s

In [5]:
# Changing column name from 0 to original tweets
tweets['original_tweet'] = tweets[0]
del tweets[0]

In [27]:
tweets.head()

                                      original_tweet
0  RT @HENDRIXNASH: Premiered by @NoiseyMusic. - ...
1       RT @GamingAnarchist: https://t.co/ByrvubKPH4
2  This is literally the same discredited Jack Th...
3                                              http…
4  When/if Presidential election coverage returns...

In [11]:
# create column for show subject using branded hashtags
# Create column for updates
def find_bronson(x):
    res = re.search('(Trump)', x)
    if res:
        return res.group()
    else:
        return pd.np.nan

In [12]:
tweets['bronson'] = tweets['original_tweet'].apply(find_bronson)

In [13]:
tweets['bronson'].value_counts

<bound method Series.value_counts of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5       Trump
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21      Trump
22        NaN
23      Trump
24      Trump
25        NaN
26        NaN
27        NaN
28      Trump
29        NaN
        ...
3595      NaN
3596      NaN
3597      NaN
3598      NaN
3599      NaN
3600      NaN
3601      NaN
3602      NaN
3603      NaN
3604      NaN
3605    Trump
3606      NaN
3607    Trump
3608    Trump
3609      NaN
3610      NaN
3611      NaN
3612      NaN
3613    Trump
3614      NaN
3615    Trump
3616      NaN
3617      NaN
3618      NaN
3619      NaN
3620      NaN
3621      NaN
3622      NaN
3623      NaN
3624      NaN
Name: bronson, dtype: object>

In [15]:
tweets.head(10)

                                      original_tweet bronson
0  RT @HENDRIXNASH: Premiered by @NoiseyMusic. - ...     NaN
1       RT @GamingAnarchist: https://t.co/ByrvubKPH4     NaN
2  This is literally the same discredited Jack Th...     NaN
3                                              http…     NaN
4  When/if Presidential election coverage returns...     NaN
5  Trump supporters really need to grasp that the...   Trump
6  RT @krglick: Congrats to my good friend @plwil...     NaN
7  RT @tagaq: @julytalk our sister debilitated wa...     NaN
8  RT @billboard: Watch Miranda Lambert rock out ...     NaN
9       RT @GamingAnarchist: https://t.co/ByrvubKPH4     NaN

In [ ]:
# Df with only tweets containing subject

df_bronson = df.dropna
df_bronson

In [ ]:
# tokenized  and stemmed subject
tweets['tokenized_bronson'] = tweets.apply(lambda row: nltk.word_tokenize(row['bronson']), axis=1)
a = tweets.loc[2,'tokenized_bronson']
lancaster = nltk.LancasterStemmer()
stems = [lancaster.stem(i) for i in a]
print stems

In [28]:


tweets_data = []
tweets_file = tweets
for line in tweets_file:
    try:
        tweet = json.loads(line)
        tweets_data.append(tweet)
    except:
        continue

In [20]:
def get_words_in_tweets(df):
    all_words = []
    for (words, sentiment) in tweets:
        all_words.extend(words)
        return all_words

In [21]:
get_words_in_tweets(tweets)

In [ ]:
from textblob import TextBlob
sentiment = [i for i in tweets]
sentiment