# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [3]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [4]:
square_root(2)

1.4142135623730951

In [5]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [6]:
def area(x, y):
    return x * y

In [7]:
area(5, 4)

20

In [10]:
area_lambda = lambda x, y: x * y

In [11]:
area_lambda(5, 4)

20

In [5]:
#Function here
def area(x, y):
    return ???
    
    
#Lambda function here:
area_lambda = ???

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [33]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0  59  12  93  52      0
1   1  25  18  52      1
2  59  27  43  92      0
3  85  27  58  45      1
4  38  13  17  80      0
5  62  42  67  64      1
6   5  39  93  86      0
7  61  71  40  54      1

In [17]:
df = df.applymap(lambda x: x*2)
df.head()

     A    B    C    D  Group
0   18  160  172  156      0
1   60  132  166  144      2
2   20   80  182   50      0
3  160   24   94   56      2
4  154  168   58  122      0

In [14]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

           A            B             C             D
        mean _range  mean _range   mean _range   mean _range
Group
0      168.0     54  62.0    112  125.0    144  130.5    144
2      134.5    142  84.5    186   90.5    154  104.5     90

In [15]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

           A              B               C               D
        mean <lambda>  mean <lambda>   mean <lambda>   mean <lambda>
Group
0      168.0       54  62.0      112  125.0      144  130.5      144
2      134.5      142  84.5      186   90.5      154  104.5       90

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [3]:
dfsq = df.applymap(lambda x: x** .5)

In [42]:
a = pd.Series([1, 2, 3, 4])
asq = a.apply(lambda a: a*3)

In [40]:
asq

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
dfsq.head()

          A         B         C         D  Group
0  4.898979  4.898979  9.110434  2.000000    0.0
1  5.567764  7.280110  9.110434  3.464102    1.0
2  9.899495  9.899495  7.937254  9.165151    0.0
3  8.124038  7.615773  5.567764  9.327379    1.0
4  0.000000  9.848858  6.557439  4.358899    0.0

In [21]:
df

     A    B    C    D  Group
0   18  160  172  156      0
1   60  132  166  144      2
2   20   80  182   50      0
3  160   24   94   56      2
4  154  168   58  122      0
5   10  190   60   84      2
6  100  144   16   26      0
7    0  128   56  188      2

In [28]:
df.apply(lambda x: 'skewed' if abs((np.mean(x) - np.median(x)) > np.std(x)*.1) else 'normalish')

A        normalish
B        normalish
C           skewed
D        normalish
Group    normalish
dtype: object

In [37]:
df.pivot_table(index = 'Group', aggfunc = (lambda x: len([i for i in x if i > 100])))

       A  B  C  D
Group
0      0  0  0  0
1      0  0  0  0

In [75]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(???)

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(???)

# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(???)

A           skewed
B           skewed
C           skewed
D           skewed
Group    normalish
dtype: object

       A  B  C  D
Group
0      2  1  1  2
2      1  3  1  1