In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import confusion_matrix

/Users/macbook/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-09/5.1-fast-cheap-good/assets/data/X_train.csv')

In [3]:
df2 = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-09/5.1-fast-cheap-good/assets/data/y_train.csv', header=None)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,65,Private,23580,Bachelors,13,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
1,47,Private,303637,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,49,United-States
2,26,Private,192506,Bachelors,13,Never-married,Other-service,Not-in-family,Black,Female,0,0,35,United-States
3,38,Private,181716,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States
4,43,Federal-gov,195897,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,7298,0,40,United-States

In [ ]:
y_train_df.head()

In [5]:
df = pd.concat([df, df2], axis = 1)

In [ ]:
df.head()

In [ ]:
# randomly select 150 samples
import random
df = df.ix[random.sample(df.index, 150)]

In [ ]:
df.head

In [ ]:
from sklearn.feature_selection import RFECV

estimator3 = GradientBoostingRegressor()
selector3 = RFECV(estimator3, step=1, cv=5)
selector3 = selector3.fit(X, y)
rfecv_columns3 = X.columns[selector3.support_]
rfecv_columns3

In [ ]:
import pickle
with open('my_pickled_dataframe.pkl', 'w') as picklefile:
    pickle.dump(df, picklefile)
    
with open('my_pickled_dataframe.pkl', 'r') as picklefile:
    the_same_sample = pickle.load(picklefile)

In [5]:
import pickle
with open('my_pickled_dataframe.pkl', 'r') as picklefile:
    df = pickle.load(picklefile)

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,0
6979,40,Private,404573,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,44,United-States,1.0
25172,35,Local-gov,170682,11th,7,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,32,United-States,1.0
8234,17,Private,242871,10th,6,Never-married,Sales,Own-child,White,Female,594,0,12,United-States,0.0
10356,36,Self-emp-not-inc,278553,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Black,Male,15024,0,75,United-States,0.0
4979,22,Private,615367,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,60,United-States,1.0

In [ ]:
d={'11th':"HS-non-grad", 'HS-grad':'HS-grad', '10th':"HS-non-grad", 'Assoc-voc':'College', 'Bachelors':'College', \
   'Some-college':'Some-college','Assoc-acdm':'College', '12th':"HS-non-grad", 'Doctorate':'Higher-Level Education', \
   'Masters':'Higher-Level Education','9th':"HS-non-grad", '5th-6th':"HS-non-grad",'1st-4th':"HS-non-grad",\
   'Prof-school':'College', '7th-8th':"HS-non-grad", 'Preschool':"HS-non-grad"}
df['education']=df['education'].apply(lambda x: d[x])

In [ ]:
d={'HS-grad'}

In [7]:
df['education'].value_counts()

HS-grad         63
Some-college    30
Bachelors       23
10th             6
Masters          5
Assoc-acdm       4
Assoc-voc        4
Prof-school      4
11th             3
Doctorate        2
12th             2
7th-8th          1
5th-6th          1
9th              1
1st-4th          1
Name: education, dtype: int64

In [8]:
df['education-num'].value_counts()

9     63
10    30
13    23
6      6
14     5
15     4
12     4
11     4
7      3
16     2
8      2
5      1
4      1
3      1
2      1
Name: education-num, dtype: int64

In [23]:
df[0].value_counts()

TypeError: 'NoneType' object has no attribute '__getitem__'

In [14]:
from sklearn.preprocessing import LabelEncoder
categoricals = ['marital-status','occupation','relationship','race','sex']
groupdf[categoricals] = groupdf[categoricals].apply(LabelEncoder().fit_transform)
groupdf

NameError: name 'groupdf' is not defined

In [15]:
import pickle
with open('my_pickled_dataframe.pkl', 'r') as picklefile:
    df2 = pickle.load(picklefile)

In [16]:
df2.head()

,age,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,0
15730,20,10,3,4,1,4,1,0,0,15,0
26322,40,13,1,7,0,4,1,0,0,46,1
19815,47,9,1,9,0,4,1,0,0,55,0
19207,61,9,5,11,4,4,0,0,0,40,0
3019,34,11,3,3,1,4,1,27828,0,60,1

In [ ]:

from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier

cv = StratifiedKFold(y, n_folds=10, shuffle=True, random_state=21)from sklearn.ensemble import RandomForestClassifier

In [26]:


y = df2[0].copy()
del df2[0]
X = df2

In [41]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold

from sklearn.ensemble import RandomForestClassifier 

cv = StratifiedKFold(y, n_folds=10, shuffle=True)

In [42]:
rf = RandomForestClassifier()

scores = cross_val_score(rf, X, y, cv=cv)
scores.mean()

0.81434523809523807

In [43]:
rf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [37]:
from sklearn.metrics import accuracy_score

In [53]:
y_pred = rf.predict(dftest)
y_pred

array([0, 0, 0, ..., 0, 1, 0])

In [58]:
ydf = pd.DataFrame(y_pred)
ydf.head()

   0
0  0
1  0
2  0
3  1
4  0

In [59]:
ydf.to_csv("../5.1-fast-cheap-good/assets/data/team_samples.csv")

AttributeError: 'list' object has no attribute 'head'

In [34]:
dftest = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-09/5.1-fast-cheap-good/X_test.csv')

In [35]:
dftest.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,21,Private,116657,HS-grad,9,Never-married,Sales,Other-relative,White,Male,0,0,40,United-States
1,20,Private,258509,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
2,33,Private,135312,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States
3,35,Private,186934,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50,United-States
4,47,Self-emp-not-inc,243631,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,South

In [38]:
del dftest['workclass']
del dftest['fnlwgt']
del dftest['education']
del dftest['native-country']

In [39]:
dftest.head()

,age,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week
0,21,9,Never-married,Sales,Other-relative,White,Male,0,0,40
1,20,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40
2,33,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40
3,35,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,50
4,47,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40

In [47]:
from sklearn.ensemble import GradientBoostingClassifier


gb = GradientBoostingClassifier()

scores = cross_val_score(gb, X, y, cv=cv)
scores.mean()

0.79339285714285723

In [51]:
import pickle
with open('test_df.pkl', 'r') as picklefile:
    dftest = pickle.load(picklefile)