Independent Practice: Topic (20 minutes)
Using our old friend, the sales_info.csv dataset:
Inspect the data types
Let's say all your values in the first column are too low by 1: use df.applymap to add 1 to each value in it
Use .value_counts to count the values of each column in the dataset
Bonus
Write functions to bin the numerical values in each column into 'low', 'medium' and 'high' categories (hint: pandas has a built-in quantile function)
Use .value_counts again on each column of the dataset, and check that the ratios of the new values are what you expect
Look at the advanced reading, and rewrite your binning functions as lambda functions

In [1]:
import pandas as pd
sales_data = pd.read_csv('http://localhost:8891/notebooks/GA-DSI/curriculum/week-02/2.3-data-cleaning/assets/datasets/sales_info.csv')

In [2]:
sales_data.head(10)

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90
5     5.005122    31.877437      255939.81      332979.03
6    14.606750    76.518973      319020.69      302592.88
7     4.456466    19.337345       45340.33       55315.23
8     5.047530    26.142470       57849.23       42398.57
9     5.388070    22.427024       51031.04       56241.57

In [3]:
sales_data.columns.values

array(['volume_sold', '2015_margin', '2015_q1_sales', '2016_q1_sales'], dtype=object)

In [4]:
sales_data.dtypes

volume_sold      float64
2015_margin      float64
2015_q1_sales    float64
2016_q1_sales    float64
dtype: object

In [11]:
def plus1(x):
    return x + 1

sales_data[['volume_sold']].applymap(plus1)

     volume_sold
0      19.420760
1       5.776510
2      17.602401
3       5.296111
4       9.156023
5       6.005122
6      15.606750
7       5.456466
8       6.047530
9       6.388070
10     10.347349
11     11.930398
12      7.270209
13     13.395919
14      5.557712
15      5.200122
16     11.252870
17     13.076785
18      4.725095
19      4.210727
20      7.290971
21      8.434821
22      5.376225
23     13.988913
24     12.697456
25      6.965175
26      4.945223
27      8.369585
28      8.343509
29     13.350027
..           ...
170     9.443932
171     6.151964
172     7.537069
173     9.500445
174     4.931543
175     7.163689
176     5.904447
177     8.402413
178    48.503269
179    56.739180
180    12.840780
181     8.002294
182     9.753142
183     4.147741
184     8.196779
185    77.203692
186    11.804337
187    11.705327
188    52.800686
189     6.882779
190     7.686406
191     6.833355
192    46.556096
193     6.172606
194    11.118018
195    52.675537
196     3.794631
197     8.611698
198    16.697651
199    51.275893

[200 rows x 1 columns]

In [13]:
sales_data.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'