In [1]:
import pandas as pd

In [5]:
balance = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.0-morning-challenge-viz/balance.csv')

In [6]:
filled = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.0-morning-challenge-viz/filled.csv')

In [7]:
not_filled = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.0-morning-challenge-viz/not_filled.csv')

In [9]:
recharges = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.0-morning-challenge-viz/recharges.csv')

In [10]:
usage = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.0-morning-challenge-viz/usage.csv')

In [17]:
balance.head()

             timestamp    balance
0  2013-05-01 05:00:01  28.559999
1  2013-05-02 05:00:01  23.209999
2  2013-05-03 05:00:01  18.450001
3  2013-05-04 00:33:44   8.920000
4  2013-05-04 00:33:45  58.919998

In [15]:
filled

,timestamp,rc_amount,offerUnits,offerAmount,qualifying_rc_date,adjustment_date,days_to_adjust,expiryDate
0,2013-06-14 05:48:16,30.0,credit,8.0,2013-06-14 18:53:32,2013-06-20 12:20:21,5,2013-06-19 05:48:16
1,2013-06-20 07:11:31,50.0,credit,15.0,2013-06-20 19:18:46,2013-06-30 13:52:36,9,2013-06-25 07:11:31
2,2013-06-27 07:19:29,20.0,credit,5.0,2013-06-27 09:24:36,2013-07-04 16:37:55,7,2013-07-12 07:19:29
3,2013-07-15 06:09:24,20.0,credit,5.0,2013-07-15 16:03:32,2013-07-19 12:33:46,3,2013-07-30 06:09:24
4,2013-08-19 06:21:39,50.0,sms,15.0,2013-08-19 13:53:37,2013-08-22 19:41:10,3,2013-08-24 06:21:39
5,2013-09-21 05:52:28,30.0,sms,10.0,2013-09-23 19:32:44,2013-09-26 21:49:17,3,2013-09-26 05:52:28

In [14]:
not_filled

,timestamp,rc_amount,offerUnits,offerAmount,qualifying_recharge,expiryDate
0,2013-08-01 05:50:36,20.0,credit,5.0,True,2013-08-16 05:50:36

In [20]:
recharges.head()

             timestamp voucher_label  voucher_value
0  2013-05-04 00:32:16    SELLER               50.0
1  2013-05-09 02:14:26       BODCELU           20.0
2  2013-05-11 21:32:55    SELLER               50.0
3  2013-05-18 16:11:50      WALTMART           50.0
4  2013-05-20 14:43:52    SELLER               50.0