In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [9]:
# select the preTestScore column
preTestScore = df['preTestScore'].to_frame()
preTestScore

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [12]:
# find the standard deviation of preTestScore 
# Wrong. Why?

np.std(df['preTestScore'])

12.221292893961751

In [13]:
preTestScore.std()

preTestScore    13.663821
dtype: float64

In [5]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore

In [24]:
mean = preTestScore.mean()
mean

preTestScore    12.8
dtype: float64

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [36]:
preTestScore = df['preTestScore']
preTestScore

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [38]:
greaterThanMean = df[preTestScore > mean]
greaterThanMean

ValueError: Series lengths must match to compare

In [31]:
preTestScore

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [7]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

In [39]:
temp_df = df.copy()
temp_df['Score_Difference'] = temp_df['postTestScore'] - temp_df['preTestScore']

temp_df

    name  age  preTestScore  postTestScore  Score_Difference
0  Jason   42             4             25                21
1  Molly   52            24             94                70
2   Tina   36            31             57                26
3   Jake   24             2             62                60
4    Amy   73             3             70                67