In [4]:
from __future__ import print_function, division

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

import pandas_datareader.data as web
from datetime import datetime

In [3]:
fb_start = datetime.datetime(2014, 12, 05)
fb_end = datetime.datetime(2016, 12, 05)
fb = web.DataReader('FB', 'google', fb_start, fb_end)

In [5]:
fb.head()

             Open   High    Low  Close    Volume
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446
2014-12-08  76.18  77.25  75.40  76.52  25733853
2014-12-09  75.20  76.93  74.78  76.84  25358584
2014-12-10  76.65  77.55  76.07  76.18  32210532
2014-12-11  76.52  78.52  76.48  77.73  33492661

In [6]:
fb.index

DatetimeIndex(['2014-12-05', '2014-12-08', '2014-12-09', '2014-12-10',
               '2014-12-11', '2014-12-12', '2014-12-15', '2014-12-16',
               '2014-12-17', '2014-12-18',
               ...
               '2016-11-18', '2016-11-21', '2016-11-22', '2016-11-23',
               '2016-11-25', '2016-11-28', '2016-11-29', '2016-11-30',
               '2016-12-01', '2016-12-02'],
              dtype='datetime64[ns]', name=u'Date', length=503, freq=None)

In [8]:
fb['2015'].head()

             Open   High    Low  Close    Volume
Date
2015-01-02  78.58  78.93  77.70  78.45  18177475
2015-01-05  77.98  79.25  76.86  77.19  26452191
2015-01-06  77.23  77.59  75.36  76.15  27399288
2015-01-07  76.76  77.36  75.82  76.15  22045333
2015-01-08  76.74  78.23  76.08  78.18  23960953

In [9]:
fb['2015-Q3'].head()

             Open   High    Low  Close    Volume
Date
2015-07-01  86.77  87.95  86.49  86.91  25260045
2015-07-02  87.40  87.44  86.34  87.28  16908781
2015-07-06  86.49  88.18  86.39  87.55  24635915
2015-07-07  87.80  87.85  85.23  87.22  33059921
2015-07-08  86.29  86.75  85.44  85.65  24399340

In [10]:
fb['2015-12':'2016-02'].head()

              Open    High     Low   Close    Volume
Date
2015-12-01  104.83  107.15  104.50  107.12  22715616
2015-12-02  107.00  107.92  105.79  106.07  24295162
2015-12-03  103.95  106.85  103.35  104.38  23236485
2015-12-04  104.75  107.73  104.11  106.18  21224721
2015-12-07  106.48  106.83  104.66  105.61  15474890

In [11]:

fb['2014']['Close'].mean()

78.24444444444444

In [13]:

fb[datetime.datetime(2015, 5, 1): datetime.datetime(2015, 8, 1)]['Close'].median()

82.3

In [15]:
fb['2016']['Close'].min()

94.159999999999997

In [16]:
fb['2016']['Close'].max()

133.28

In [18]:
from datetime import timedelta
offset = timedelta(days=1, hours=6.5) # Specify days, hours, minutes you wsh to offset

In [22]:
fb[['Close']].resample('M').head() #Monthly (comes out to mean)

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

                Close
Date
2014-12-31  78.244444
2015-01-31  76.721500
2015-02-28  76.951579
2015-03-31  81.012727
2015-04-30  82.090000

In [23]:
fb[['Close']].resample('M').agg(['min', 'max', 'mean', len]).head()

            Close
              min    max       mean   len
Date
2014-12-31  74.69  81.45  78.244444  18.0
2015-01-31  74.05  78.45  76.721500  20.0
2015-02-28  74.44  80.41  76.951579  19.0
2015-03-31  77.55  85.31  81.012727  22.0
2015-04-30  78.77  84.63  82.090000  21.0

In [26]:
# As frequency different from resample. Will pad, fill, etc empty cells. ffill means forward fill
fb[['Close']].asfreq('D', method='ffill')

             Close
Date
2014-12-05   76.36
2014-12-06   76.36
2014-12-07   76.36
2014-12-08   76.52
2014-12-09   76.84
2014-12-10   76.18
2014-12-11   77.73
2014-12-12   77.83
2014-12-13   77.83
2014-12-14   77.83
2014-12-15   76.99
2014-12-16   74.69
2014-12-17   76.11
2014-12-18   78.40
2014-12-19   79.88
2014-12-20   79.88
2014-12-21   79.88
2014-12-22   81.45
2014-12-23   80.61
2014-12-24   80.77
2014-12-25   80.77
2014-12-26   80.78
2014-12-27   80.78
2014-12-28   80.78
2014-12-29   80.02
2014-12-30   79.22
2014-12-31   78.02
2015-01-01   78.02
2015-01-02   78.45
2015-01-03   78.45
...            ...
2016-11-03  120.00
2016-11-04  120.75
2016-11-05  120.75
2016-11-06  120.75
2016-11-07  122.15
2016-11-08  124.22
2016-11-09  123.18
2016-11-10  120.80
2016-11-11  119.02
2016-11-12  119.02
2016-11-13  119.02
2016-11-14  115.08
2016-11-15  117.20
2016-11-16  116.34
2016-11-17  117.79
2016-11-18  117.02
2016-11-19  117.02
2016-11-20  117.02
2016-11-21  121.77
2016-11-22  121.47
2016-11-23  120.84
2016-11-24  120.84
2016-11-25  120.38
2016-11-26  120.38
2016-11-27  120.38
2016-11-28  120.41
2016-11-29  120.87
2016-11-30  118.42
2016-12-01  115.10
2016-12-02  115.40

[729 rows x 1 columns]

In [27]:
fb[['Close']].resample('D').head()

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

            Close
Date
2014-12-05  76.36
2014-12-06    NaN
2014-12-07    NaN
2014-12-08  76.52
2014-12-09  76.84

In [28]:
fb[['Close']].resample('W').head()

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

              Close
Date
2014-12-07  76.3600
2014-12-14  77.0200
2014-12-21  77.2140
2014-12-28  80.9025
2015-01-04  78.9275

In [32]:
fb['Prior Close'] = fb['Close'].shift(1) #Shifting close forward 1. Easier to get differences
fb.head()

             Open   High    Low  Close    Volume  Prior Close
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446          NaN
2014-12-08  76.18  77.25  75.40  76.52  25733853        76.36
2014-12-09  75.20  76.93  74.78  76.84  25358584        76.52
2014-12-10  76.65  77.55  76.07  76.18  32210532        76.84
2014-12-11  76.52  78.52  76.48  77.73  33492661        76.18

In [33]:
fb['Next Close'] = fb['Close'].shift(-1) #Shifting close backward 1. Easier to get differences
fb.head()

             Open   High    Low  Close    Volume  Prior Close  Next Close
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446          NaN       76.52
2014-12-08  76.18  77.25  75.40  76.52  25733853        76.36       76.84
2014-12-09  75.20  76.93  74.78  76.84  25358584        76.52       76.18
2014-12-10  76.65  77.55  76.07  76.18  32210532        76.84       77.73
2014-12-11  76.52  78.52  76.48  77.73  33492661        76.18       77.83

In [34]:
srng = pd.date_range('1/1/2016', periods=8, freq='H')
srng

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [14]:
spy_start = datetime(2000, 01, 01)
spy_end = datetime(2016, 12, 05)
spy = web.DataReader('SPY', 'google', spy_start, spy_end)

In [15]:
spy.head()

              Open    High     Low   Close   Volume
Date
2001-01-09  131.05  131.50  129.42  129.84  5602700
2001-01-10  129.00  132.12  128.81  132.12  8725200
2001-01-11  131.09  133.48  131.09  132.25  6697900
2001-01-12  132.69  133.72  131.28  132.00  7064900
2001-01-16  132.00  133.19  131.52  132.84  8416500

In [30]:
# Splicing. 1, 21, 1 is from 1-21, count by 1
for i in range(1, 21, 1):
    spy.loc[:,'Close Minus' + str(i)] = spy['Close'].shift(i)
    spy20 = spy[[x for x in spy.columns if 'Close Minus' in x or x == 'Close']].iloc[20:,]
# final iloc is to only take the first 20
spy20

,Close,Close Minus1,Close Minus2,Close Minus3,Close Minus4,Close Minus5,Close Minus6,Close Minus7,Close Minus8,Close Minus9,...,Close Minus11,Close Minus12,Close Minus13,Close Minus14,Close Minus15,Close Minus16,Close Minus17,Close Minus18,Close Minus19,Close Minus20
Date,,,,,,,,,,,,,,,,,,,,,
2001-02-07,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60,135.88,136.03,...,135.97,134.91,134.02,134.78,133.45,132.84,132.00,132.25,132.12,129.84
2001-02-08,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60,135.88,...,136.38,135.97,134.91,134.02,134.78,133.45,132.84,132.00,132.25,132.12
2001-02-09,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60,...,136.03,136.38,135.97,134.91,134.02,134.78,133.45,132.84,132.00,132.25
2001-02-12,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80,...,135.88,136.03,136.38,135.97,134.91,134.02,134.78,133.45,132.84,132.00
2001-02-13,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02,...,136.60,135.88,136.03,136.38,135.97,134.91,134.02,134.78,133.45,132.84
2001-02-14,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93,...,137.80,136.60,135.88,136.03,136.38,135.97,134.91,134.02,134.78,133.45
2001-02-15,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80,...,137.02,137.80,136.60,135.88,136.03,136.38,135.97,134.91,134.02,134.78
2001-02-16,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79,...,137.93,137.02,137.80,136.60,135.88,136.03,136.38,135.97,134.91,134.02
2001-02-20,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39,...,134.80,137.93,137.02,137.80,136.60,135.88,136.03,136.38,135.97,134.91
2001-02-21,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69,...,135.79,134.80,137.93,137.02,137.80,136.60,135.88,136.03,136.38,135.97
2001-02-22,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12,...,135.39,135.79,134.80,137.93,137.02,137.80,136.60,135.88,136.03,136.38
2001-02-23,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84,...,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60,135.88,136.03
2001-02-26,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35,...,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60,135.88
2001-02-27,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26,...,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80,136.60
2001-02-28,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06,...,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02,137.80
2001-03-01,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34,...,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93,137.02
2001-03-02,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40,...,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80,137.93
2001-03-05,124.74,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39,...,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79,134.80
2001-03-06,126.08,124.74,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62,...,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39,135.79
2001-03-07,126.98,126.08,124.74,123.61,124.60,123.95,126.44,127.62,124.96,125.81,...,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69,135.39
2001-03-08,127.12,126.98,126.08,124.74,123.61,124.60,123.95,126.44,127.62,124.96,...,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12,134.69
2001-03-09,123.36,127.12,126.98,126.08,124.74,123.61,124.60,123.95,126.44,127.62,...,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84,133.12
2001-03-12,118.08,123.36,127.12,126.98,126.08,124.74,123.61,124.60,123.95,126.44,...,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35,131.84
2001-03-13,120.02,118.08,123.36,127.12,126.98,126.08,124.74,123.61,124.60,123.95,...,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26,133.35
2001-03-14,117.65,120.02,118.08,123.36,127.12,126.98,126.08,124.74,123.61,124.60,...,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06,132.26
2001-03-15,117.68,117.65,120.02,118.08,123.36,127.12,126.98,126.08,124.74,123.61,...,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34,132.06
2001-03-16,115.01,117.68,117.65,120.02,118.08,123.36,127.12,126.98,126.08,124.74,...,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40,133.34
2001-03-19,117.35,115.01,117.68,117.65,120.02,118.08,123.36,127.12,126.98,126.08,...,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39,130.40
2001-03-20,114.20,117.35,115.01,117.68,117.65,120.02,118.08,123.36,127.12,126.98,...,124.74,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62,128.39
2001-03-21,112.26,114.20,117.35,115.01,117.68,117.65,120.02,118.08,123.36,127.12,...,126.08,124.74,123.61,124.60,123.95,126.44,127.62,124.96,125.81,125.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-24,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01,213.71,213.43,...,215.04,215.78,215.63,214.68,215.78,216.30,214.68,216.64,215.57,214.24
2016-10-25,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01,213.71,...,216.16,215.04,215.78,215.63,214.68,215.78,216.30,214.68,216.64,215.57
2016-10-26,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01,...,213.43,216.16,215.04,215.78,215.63,214.68,215.78,216.30,214.68,216.64
2016-10-27,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12,...,213.71,213.43,216.16,215.04,215.78,215.63,214.68,215.78,216.30,214.68
2016-10-28,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38,...,213.01,213.71,213.43,216.16,215.04,215.78,215.63,214.68,215.78,216.30
2016-10-31,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71,...,213.12,213.01,213.71,213.43,216.16,215.04,215.78,215.63,214.68,215.78
2016-11-01,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28,...,212.38,213.12,213.01,213.71,213.43,216.16,215.04,215.78,215.63,214.68
2016-11-02,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88,...,213.71,212.38,213.12,213.01,213.71,213.43,216.16,215.04,215.78,215.63
2016-11-03,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98,...,214.28,213.71,212.38,213.12,213.01,213.71,213.43,216.16,215.04,215.78
2016-11-04,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89,...,213.88,214.28,213.71,212.38,213.12,213.01,213.71,213.43,216.16,215.04
2016-11-07,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17,...,213.98,213.88,214.28,213.71,212.38,213.12,213.01,213.71,213.43,216.16
2016-11-08,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74,...,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01,213.71,213.43
2016-11-09,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17,...,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01,213.71
2016-11-10,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54,...,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12,213.01
2016-11-11,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55,...,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38,213.12
2016-11-14,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01,...,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71,212.38
2016-11-15,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74,...,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28,213.71
2016-11-16,217.87,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78,...,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88,214.28
2016-11-17,218.99,217.87,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55,...,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98,213.88
2016-11-18,218.50,218.99,217.87,218.28,216.59,216.42,216.92,216.38,214.11,213.15,...,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89,213.98
2016-11-21,220.15,218.50,218.99,217.87,218.28,216.59,216.42,216.92,216.38,214.11,...,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17,214.89
2016-11-22,220.58,220.15,218.50,218.99,217.87,218.28,216.59,216.42,216.92,216.38,...,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74,214.17
2016-11-23,220.70,220.58,220.15,218.50,218.99,217.87,218.28,216.59,216.42,216.92,...,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17,213.74
2016-11-25,221.52,220.70,220.58,220.15,218.50,218.99,217.87,218.28,216.59,216.42,...,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54,213.17
2016-11-28,220.48,221.52,220.70,220.58,220.15,218.50,218.99,217.87,218.28,216.59,...,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55,212.54
2016-11-29,220.91,220.48,221.52,220.70,220.58,220.15,218.50,218.99,217.87,218.28,...,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01,212.55
2016-11-30,220.38,220.91,220.48,221.52,220.70,220.58,220.15,218.50,218.99,217.87,...,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74,211.01
2016-12-01,219.57,220.38,220.91,220.48,221.52,220.70,220.58,220.15,218.50,218.99,...,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78,209.74
2016-12-02,219.68,219.57,220.38,220.91,220.48,221.52,220.70,220.58,220.15,218.50,...,217.87,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55,208.78
2016-12-05,221.00,219.68,219.57,220.38,220.91,220.48,221.52,220.70,220.58,220.15,...,218.99,217.87,218.28,216.59,216.42,216.92,216.38,214.11,213.15,208.55

In [31]:
# This is to get rid of the final NaN
# This is to switch the columns
spy20 = spy20.iloc[:,::-1]
spy20

,Close Minus20,Close Minus19,Close Minus18,Close Minus17,Close Minus16,Close Minus15,Close Minus14,Close Minus13,Close Minus12,Close Minus11,...,Close Minus9,Close Minus8,Close Minus7,Close Minus6,Close Minus5,Close Minus4,Close Minus3,Close Minus2,Close Minus1,Close
Date,,,,,,,,,,,,,,,,,,,,,
2001-02-07,129.84,132.12,132.25,132.00,132.84,133.45,134.78,134.02,134.91,135.97,...,136.03,135.88,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69
2001-02-08,132.12,132.25,132.00,132.84,133.45,134.78,134.02,134.91,135.97,136.38,...,135.88,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12
2001-02-09,132.25,132.00,132.84,133.45,134.78,134.02,134.91,135.97,136.38,136.03,...,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84
2001-02-12,132.00,132.84,133.45,134.78,134.02,134.91,135.97,136.38,136.03,135.88,...,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35
2001-02-13,132.84,133.45,134.78,134.02,134.91,135.97,136.38,136.03,135.88,136.60,...,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26
2001-02-14,133.45,134.78,134.02,134.91,135.97,136.38,136.03,135.88,136.60,137.80,...,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06
2001-02-15,134.78,134.02,134.91,135.97,136.38,136.03,135.88,136.60,137.80,137.02,...,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34
2001-02-16,134.02,134.91,135.97,136.38,136.03,135.88,136.60,137.80,137.02,137.93,...,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40
2001-02-20,134.91,135.97,136.38,136.03,135.88,136.60,137.80,137.02,137.93,134.80,...,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39
2001-02-21,135.97,136.38,136.03,135.88,136.60,137.80,137.02,137.93,134.80,135.79,...,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62
2001-02-22,136.38,136.03,135.88,136.60,137.80,137.02,137.93,134.80,135.79,135.39,...,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81
2001-02-23,136.03,135.88,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69,...,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96
2001-02-26,135.88,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12,...,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62
2001-02-27,136.60,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,...,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44
2001-02-28,137.80,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35,...,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95
2001-03-01,137.02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26,...,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60
2001-03-02,137.93,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06,...,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61
2001-03-05,134.80,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34,...,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61,124.74
2001-03-06,135.79,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40,...,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61,124.74,126.08
2001-03-07,135.39,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,...,125.81,124.96,127.62,126.44,123.95,124.60,123.61,124.74,126.08,126.98
2001-03-08,134.69,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62,...,124.96,127.62,126.44,123.95,124.60,123.61,124.74,126.08,126.98,127.12
2001-03-09,133.12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81,...,127.62,126.44,123.95,124.60,123.61,124.74,126.08,126.98,127.12,123.36
2001-03-12,131.84,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96,...,126.44,123.95,124.60,123.61,124.74,126.08,126.98,127.12,123.36,118.08
2001-03-13,133.35,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62,...,123.95,124.60,123.61,124.74,126.08,126.98,127.12,123.36,118.08,120.02
2001-03-14,132.26,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44,...,124.60,123.61,124.74,126.08,126.98,127.12,123.36,118.08,120.02,117.65
2001-03-15,132.06,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95,...,123.61,124.74,126.08,126.98,127.12,123.36,118.08,120.02,117.65,117.68
2001-03-16,133.34,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60,...,124.74,126.08,126.98,127.12,123.36,118.08,120.02,117.65,117.68,115.01
2001-03-19,130.40,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61,...,126.08,126.98,127.12,123.36,118.08,120.02,117.65,117.68,115.01,117.35
2001-03-20,128.39,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61,124.74,...,126.98,127.12,123.36,118.08,120.02,117.65,117.68,115.01,117.35,114.20
2001-03-21,125.62,125.81,124.96,127.62,126.44,123.95,124.60,123.61,124.74,126.08,...,127.12,123.36,118.08,120.02,117.65,117.68,115.01,117.35,114.20,112.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-24,214.24,215.57,216.64,214.68,216.30,215.78,214.68,215.63,215.78,215.04,...,213.43,213.71,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89
2016-10-25,215.57,216.64,214.68,216.30,215.78,214.68,215.63,215.78,215.04,216.16,...,213.71,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17
2016-10-26,216.64,214.68,216.30,215.78,214.68,215.63,215.78,215.04,216.16,213.43,...,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74
2016-10-27,214.68,216.30,215.78,214.68,215.63,215.78,215.04,216.16,213.43,213.71,...,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17
2016-10-28,216.30,215.78,214.68,215.63,215.78,215.04,216.16,213.43,213.71,213.01,...,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54
2016-10-31,215.78,214.68,215.63,215.78,215.04,216.16,213.43,213.71,213.01,213.12,...,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55
2016-11-01,214.68,215.63,215.78,215.04,216.16,213.43,213.71,213.01,213.12,212.38,...,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01
2016-11-02,215.63,215.78,215.04,216.16,213.43,213.71,213.01,213.12,212.38,213.71,...,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74
2016-11-03,215.78,215.04,216.16,213.43,213.71,213.01,213.12,212.38,213.71,214.28,...,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78
2016-11-04,215.04,216.16,213.43,213.71,213.01,213.12,212.38,213.71,214.28,213.88,...,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55
2016-11-07,216.16,213.43,213.71,213.01,213.12,212.38,213.71,214.28,213.88,213.98,...,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15
2016-11-08,213.43,213.71,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89,...,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11
2016-11-09,213.71,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17,...,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38
2016-11-10,213.01,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74,...,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92
2016-11-11,213.12,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17,...,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42
2016-11-14,212.38,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54,...,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59
2016-11-15,213.71,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55,...,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28
2016-11-16,214.28,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01,...,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28,217.87
2016-11-17,213.88,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74,...,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28,217.87,218.99
2016-11-18,213.98,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78,...,213.15,214.11,216.38,216.92,216.42,216.59,218.28,217.87,218.99,218.50
2016-11-21,214.89,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55,...,214.11,216.38,216.92,216.42,216.59,218.28,217.87,218.99,218.50,220.15
2016-11-22,214.17,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15,...,216.38,216.92,216.42,216.59,218.28,217.87,218.99,218.50,220.15,220.58
2016-11-23,213.74,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11,...,216.92,216.42,216.59,218.28,217.87,218.99,218.50,220.15,220.58,220.70
2016-11-25,213.17,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38,...,216.42,216.59,218.28,217.87,218.99,218.50,220.15,220.58,220.70,221.52
2016-11-28,212.54,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,...,216.59,218.28,217.87,218.99,218.50,220.15,220.58,220.70,221.52,220.48
2016-11-29,212.55,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42,...,218.28,217.87,218.99,218.50,220.15,220.58,220.70,221.52,220.48,220.91
2016-11-30,211.01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59,...,217.87,218.99,218.50,220.15,220.58,220.70,221.52,220.48,220.91,220.38
2016-12-01,209.74,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28,...,218.99,218.50,220.15,220.58,220.70,221.52,220.48,220.91,220.38,219.57
2016-12-02,208.78,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28,217.87,...,218.50,220.15,220.58,220.70,221.52,220.48,220.91,220.38,219.57,219.68
2016-12-05,208.55,213.15,214.11,216.38,216.92,216.42,216.59,218.28,217.87,218.99,...,220.15,220.58,220.70,221.52,220.48,220.91,220.38,219.57,219.68,221.00

In [44]:
X_train = spy20[-1:-1000]
y_train = spy20['Close'].shift(-1)[-1:-1000]

X_test = spy20[-1000:-1]
y_train = spy20['Close'].shift(-1)[-1000:-1]

In [45]:
X_train

Empty DataFrame
Columns: [Close Minus20, Close Minus19, Close Minus18, Close Minus17, Close Minus16, Close Minus15, Close Minus14, Close Minus13, Close Minus12, Close Minus11, Close Minus10, Close Minus9, Close Minus8, Close Minus7, Close Minus6, Close Minus5, Close Minus4, Close Minus3, Close Minus2, Close Minus1, Close]
Index: []

[0 rows x 21 columns]

In [46]:
y_train

Date
2012-12-17    145.37
2012-12-18    144.29
2012-12-19    145.12
2012-12-20    142.79
2012-12-21    142.35
2012-12-24    141.75
2012-12-26    141.56
2012-12-27    140.03
2012-12-28    142.41
2012-12-31    146.06
2013-01-02    145.73
2013-01-03    146.37
2013-01-04    145.97
2013-01-07    145.55
2013-01-08    145.92
2013-01-09    147.08
2013-01-10    147.07
2013-01-11    146.97
2013-01-14    147.07
2013-01-15    147.05
2013-01-16    148.00
2013-01-17    148.33
2013-01-18    149.13
2013-01-22    149.37
2013-01-23    149.41
2013-01-24    150.25
2013-01-25    150.07
2013-01-28    150.66
2013-01-29    150.07
2013-01-30    149.70
               ...
2016-10-21    214.89
2016-10-24    214.17
2016-10-25    213.74
2016-10-26    213.17
2016-10-27    212.54
2016-10-28    212.55
2016-10-31    211.01
2016-11-01    209.74
2016-11-02    208.78
2016-11-03    208.55
2016-11-04    213.15
2016-11-07    214.11
2016-11-08    216.38
2016-11-09    216.92
2016-11-10    216.42
2016-11-11    216.59
2016-11-14    218.28
2016-11-15    217.87
2016-11-16    218.99
2016-11-17    218.50
2016-11-18    220.15
2016-11-21    220.58
2016-11-22    220.70
2016-11-23    221.52
2016-11-25    220.48
2016-11-28    220.91
2016-11-29    220.38
2016-11-30    219.57
2016-12-01    219.68
2016-12-02    221.00
Name: Close, dtype: float64

In [47]:
from sklearn.svm import SVR
clf = SVR(kernel='liner')

In [48]:
model = clf.fit(X_train, y_train)

preds = model.predict(X_text)

ValueError: Found array with 0 sample(s) (shape=(0, 21)) while a minimum of 1 is required.