In [17]:
from __future__ import print_function, division

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

import pandas_datareader.data as web
from datetime import datetime

In [3]:
fb_start = datetime.datetime(2014, 12, 05)
fb_end = datetime.datetime(2016, 12, 05)
fb = web.DataReader('FB', 'google', fb_start, fb_end)

In [5]:
fb.head()

             Open   High    Low  Close    Volume
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446
2014-12-08  76.18  77.25  75.40  76.52  25733853
2014-12-09  75.20  76.93  74.78  76.84  25358584
2014-12-10  76.65  77.55  76.07  76.18  32210532
2014-12-11  76.52  78.52  76.48  77.73  33492661

In [6]:
fb.index

DatetimeIndex(['2014-12-05', '2014-12-08', '2014-12-09', '2014-12-10',
               '2014-12-11', '2014-12-12', '2014-12-15', '2014-12-16',
               '2014-12-17', '2014-12-18',
               ...
               '2016-11-18', '2016-11-21', '2016-11-22', '2016-11-23',
               '2016-11-25', '2016-11-28', '2016-11-29', '2016-11-30',
               '2016-12-01', '2016-12-02'],
              dtype='datetime64[ns]', name=u'Date', length=503, freq=None)

In [8]:
fb['2015'].head()

             Open   High    Low  Close    Volume
Date
2015-01-02  78.58  78.93  77.70  78.45  18177475
2015-01-05  77.98  79.25  76.86  77.19  26452191
2015-01-06  77.23  77.59  75.36  76.15  27399288
2015-01-07  76.76  77.36  75.82  76.15  22045333
2015-01-08  76.74  78.23  76.08  78.18  23960953

In [9]:
fb['2015-Q3'].head()

             Open   High    Low  Close    Volume
Date
2015-07-01  86.77  87.95  86.49  86.91  25260045
2015-07-02  87.40  87.44  86.34  87.28  16908781
2015-07-06  86.49  88.18  86.39  87.55  24635915
2015-07-07  87.80  87.85  85.23  87.22  33059921
2015-07-08  86.29  86.75  85.44  85.65  24399340

In [10]:
fb['2015-12':'2016-02'].head()

              Open    High     Low   Close    Volume
Date
2015-12-01  104.83  107.15  104.50  107.12  22715616
2015-12-02  107.00  107.92  105.79  106.07  24295162
2015-12-03  103.95  106.85  103.35  104.38  23236485
2015-12-04  104.75  107.73  104.11  106.18  21224721
2015-12-07  106.48  106.83  104.66  105.61  15474890

In [11]:

fb['2014']['Close'].mean()

78.24444444444444

In [13]:

fb[datetime.datetime(2015, 5, 1): datetime.datetime(2015, 8, 1)]['Close'].median()

82.3

In [15]:
fb['2016']['Close'].min()

94.159999999999997

In [16]:
fb['2016']['Close'].max()

133.28

In [18]:
from datetime import timedelta
offset = timedelta(days=1, hours=6.5) # Specify days, hours, minutes you wsh to offset

In [22]:
fb[['Close']].resample('M').head() #Monthly (comes out to mean)

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

                Close
Date
2014-12-31  78.244444
2015-01-31  76.721500
2015-02-28  76.951579
2015-03-31  81.012727
2015-04-30  82.090000

In [23]:
fb[['Close']].resample('M').agg(['min', 'max', 'mean', len]).head()

            Close
              min    max       mean   len
Date
2014-12-31  74.69  81.45  78.244444  18.0
2015-01-31  74.05  78.45  76.721500  20.0
2015-02-28  74.44  80.41  76.951579  19.0
2015-03-31  77.55  85.31  81.012727  22.0
2015-04-30  78.77  84.63  82.090000  21.0

In [26]:
# As frequency different from resample. Will pad, fill, etc empty cells. ffill means forward fill
fb[['Close']].asfreq('D', method='ffill')

             Close
Date
2014-12-05   76.36
2014-12-06   76.36
2014-12-07   76.36
2014-12-08   76.52
2014-12-09   76.84
2014-12-10   76.18
2014-12-11   77.73
2014-12-12   77.83
2014-12-13   77.83
2014-12-14   77.83
2014-12-15   76.99
2014-12-16   74.69
2014-12-17   76.11
2014-12-18   78.40
2014-12-19   79.88
2014-12-20   79.88
2014-12-21   79.88
2014-12-22   81.45
2014-12-23   80.61
2014-12-24   80.77
2014-12-25   80.77
2014-12-26   80.78
2014-12-27   80.78
2014-12-28   80.78
2014-12-29   80.02
2014-12-30   79.22
2014-12-31   78.02
2015-01-01   78.02
2015-01-02   78.45
2015-01-03   78.45
...            ...
2016-11-03  120.00
2016-11-04  120.75
2016-11-05  120.75
2016-11-06  120.75
2016-11-07  122.15
2016-11-08  124.22
2016-11-09  123.18
2016-11-10  120.80
2016-11-11  119.02
2016-11-12  119.02
2016-11-13  119.02
2016-11-14  115.08
2016-11-15  117.20
2016-11-16  116.34
2016-11-17  117.79
2016-11-18  117.02
2016-11-19  117.02
2016-11-20  117.02
2016-11-21  121.77
2016-11-22  121.47
2016-11-23  120.84
2016-11-24  120.84
2016-11-25  120.38
2016-11-26  120.38
2016-11-27  120.38
2016-11-28  120.41
2016-11-29  120.87
2016-11-30  118.42
2016-12-01  115.10
2016-12-02  115.40

[729 rows x 1 columns]

In [27]:
fb[['Close']].resample('D').head()

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

            Close
Date
2014-12-05  76.36
2014-12-06    NaN
2014-12-07    NaN
2014-12-08  76.52
2014-12-09  76.84

In [28]:
fb[['Close']].resample('W').head()

/Users/macbook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  if __name__ == '__main__':

              Close
Date
2014-12-07  76.3600
2014-12-14  77.0200
2014-12-21  77.2140
2014-12-28  80.9025
2015-01-04  78.9275

In [32]:
fb['Prior Close'] = fb['Close'].shift(1) #Shifting close forward 1. Easier to get differences
fb.head()

             Open   High    Low  Close    Volume  Prior Close
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446          NaN
2014-12-08  76.18  77.25  75.40  76.52  25733853        76.36
2014-12-09  75.20  76.93  74.78  76.84  25358584        76.52
2014-12-10  76.65  77.55  76.07  76.18  32210532        76.84
2014-12-11  76.52  78.52  76.48  77.73  33492661        76.18

In [33]:
fb['Next Close'] = fb['Close'].shift(-1) #Shifting close backward 1. Easier to get differences
fb.head()

             Open   High    Low  Close    Volume  Prior Close  Next Close
Date
2014-12-05  75.80  76.76  75.36  76.36  24306446          NaN       76.52
2014-12-08  76.18  77.25  75.40  76.52  25733853        76.36       76.84
2014-12-09  75.20  76.93  74.78  76.84  25358584        76.52       76.18
2014-12-10  76.65  77.55  76.07  76.18  32210532        76.84       77.73
2014-12-11  76.52  78.52  76.48  77.73  33492661        76.18       77.83

In [34]:
srng = pd.date_range('1/1/2016', periods=8, freq='H')
srng

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [36]:
spy_start = datetime(2000, 01, 01)
spy_end = datetime(2016, 12, 05)
spy = web.DataReader('SPY', 'google', spy_start, spy_end)

In [37]:
spy.head()

              Open    High     Low   Close   Volume
Date
2001-01-08  129.88  130.19  127.62  130.19  6552200
2001-01-09  131.05  131.50  129.42  129.84  5602700
2001-01-10  129.00  132.12  128.81  132.12  8725200
2001-01-11  131.09  133.48  131.09  132.25  6697900
2001-01-12  132.69  133.72  131.28  132.00  7064900

In [39]:
X_train = spy[:-1000]
y_train = spy['Close'].shift(-1)[:-1000]

X_test = spy[-1000:]
y_train = spy['Close'].shift(-1)[-1000:]

In [41]:
from sklearn.svm import SVR
clf = SVR(kernel='liner')

In [44]:
spy.value_counts

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [42]:
model = clf.fit(X_train, y_train)

preds = model.predict(X_text)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').