# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline 

from sklearn import datasets
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import cross_val_predict
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
## Load the data into a DataFrame
Iowa = pd.read_csv('/Users/macbook/GA-DSI/projects/projects-weekly/project-03/Iowa_Liquor_sales_sample_10pct.csv')

In [3]:
iowa.head(3)

NameError: name 'iowa' is not defined

In [ ]:
iowa.dtypes

In [ ]:
print iowa.columns
print iowa.shape

# Clean Data

### Drop duplicate (unnecessary) columns

In [ ]:
# Drop cols that contain same info as another col
iowa.drop(['County Number', 'Item Number', 'Volume Sold (Gallons)'], axis=1, inplace=True)

In [ ]:
# Made a separate df for category to category name mapping for future reference
category_df = pd.pivot_table(iowa, index=['Category', 'Category Name'], values=['Bottles Sold'])
category_df.drop('Bottles Sold', axis=1, inplace=True)
category_df.head(2)

### Clean column names

In [ ]:
# Clean column name 1: Rename columns
iowa.rename(columns={'Store Number':'Store', 'Bottle Volume (ml)':'Bottle Volume', 'Sale (Dollars)':'Sales', \
               'Volume Sold (Liters)':'Volume Sold'}, inplace=True)

# Clean column names 2: Change all column names to lowercase letters
iowa.rename(columns=lambda x: x.lower(), inplace=True)

# Clean column names 3: Replace ' ' with '_'
iowa.rename(columns=lambda x: x.replace(" ","_"), inplace=True)


### Clean values in columns with currency and date

In [ ]:
# Convert columns with dollar amounts from object to numeric float
currency = ['sales', 'state_bottle_cost', 'state_bottle_retail']
iowa[currency] = iowa[currency].apply(lambda x: x.str.replace('$',''))
iowa[currency] = iowa[currency].apply(lambda x: x.str.replace(',',''))
iowa[currency] = iowa[currency].apply(lambda x: pd.to_numeric(x))

In [ ]:
# Convert date from object to datetime
iowa['date'] = pd.to_datetime(iowa['date'])
%timeit

In [ ]:
# Convert zip code to int
print iowa['zip_code'].nunique()
print iowa['zip_code'].unique()
# One problematic value: 712-2

In [ ]:
# Drop problematic zip code and convert rest to int
iowa['zip_code'] = pd.to_numeric(iowa["zip_code"], errors='coerce')
iowa.fillna(np.nan)
iowa['zip_code'].dropna().astype(int)
iowa['zip_code'].head(2)

In [ ]:
iowa.info()

### Convert dtype object to str

In [ ]:
iowa['city'] = iowa['city'].astype(str)
iowa['county'] = iowa['county'].astype(str)
iowa['category_name'] = iowa['category_name'].astype(str)
iowa['item_description'] = iowa['item_description'].astype(str)

### Extract dates into year, quarter and month

In [ ]:
def extract_month(x):
    month = str('{:02d}'.format(x.month)) + "-" + str((x.year))
    return month
def extract_quarter(x):
    quarter = "Q" + str(x.quarter) + "-" + str(x.year)
    return quarter

iowa["year"] = iowa["date"].dt.year
iowa["quarter"] = iowa["date"].apply(extract_quarter)
iowa["month"] = iowa["date"].apply(extract_month)

### Check for and replace NaNs

In [ ]:
iowa.isnull().sum()
#Will leave zip_code NaNs as I filled problematic zip code with np.nan above

### Remove Duplicate County Names & Fill in Missing Counties

In [ ]:
# Match missing County with City
df_county = pd.pivot_table(iowa, index=['city', 'county'], values=['sales'], aggfunc=sum)
df_county.drop('sales', axis=1, inplace=True)
df_county.reset_index(inplace=True)
df_county.head()

In [ ]:
print df_county['city'].duplicated().sum()
a = df_county[df_county['city'].duplicated() == True].index.tolist()
df_county['city'].loc[a]

In [ ]:
# Did not use drop_duplicates() because I did not want to automatically drop the second duplicate
# So I checked the counties of duplicate cities and dropped incorrect city-county mappings
# It also turns out some towns (Ackley, Clive, and West Des Moines are located in multiple counties)
# Remove from iowa dataframe: index [32, 74, 134, 260, 263, 276, 288, 336]

b = [i+1 for i in a]
c = [i-1 for i in a]
d = a + b + c
e = sorted(d)

df_county.loc[e, :]
county_dict = {'bettendorf':'scott', 'corning':'adams', 'fort dodge': 'webster','newton':'jasper', \
               'north libery':'johnson', 'OSKALOOSA': 'mahaska', 'PERRY':'dallas', 'STATE CENTER': 'marshall'}

In [ ]:
# Remove from iowa dataframe: index [32, 74, 134, 260, 263, 276, 288, 336]
df_county.drop([32, 74, 134, 260, 263, 276, 288, 336], inplace=True)

# Rename Ackley, Clive, and West Des Moines to account for parts of town in different counties
df_county.set_value([1,66,380], 'city', ['ACKLEY_WEBSTER', 'CLIVE_POLK', 'WEST_DES_MOINES_POLK'])

In [ ]:
# Merge df_county into original iowa df
# Note: Original "county" renamed "county_x" and new "county_y" col created
iowa = pd.merge(iowa,df_county, on = 'city', how = 'left')
iowa.head(3)

In [ ]:
# Fill missing county names in "county_x" with county names from "county_y"
iowa['county_x'].fillna(iowa['county_y'], inplace=True)
iowa.isnull().sum()

In [ ]:
# Check for remaining missing counties
iowa[iowa["county_x"].isnull()]['city'].unique()

In [ ]:
# Fill in missing counties by mapping to city
def county_name(city):
    if city == "TABOR":
        return "Fremont"
    elif city == "SEYMOUR":
        return "Wayne"
    elif city == "RUNNELLS":
        return "Polk"
    else:
        pass

iowa['county_y'] = iowa['city'].apply(county_name)
iowa['county_x'].fillna(iowa['county_y'], inplace=True)

In [ ]:
iowa.isnull().sum()

### Drop Missing Values in "category_name"

In [ ]:
# Find duplicates in category name
df_category_name = pd.pivot_table(iowa,index = ['item_description','category_name'], \
                                  values = ['sales'], aggfunc = sum)
df_category_name.reset_index(inplace = True)
df_category_name.drop('sales', axis=1, inplace=True)
df_category_name.duplicated().sum()
# No duplicates

In [ ]:
# Drop rows with NaN in "category_name" col as it is only 0.233% of total 
# Did not have the time (as I did for counties above) to go through the 632 NaN rows
null_cat_percent = (iowa['category_name'].isnull().sum())/ \
                    float(len(iowa['category_name']))*100
print str(round(null_cat_percent, 3)) + '% of total rows ' + 'is null'
print 'These 632 rows will be dropped from analysis'

iowa.dropna(subset=[['category_name']], inplace=True)
iowa[['category_name']].head(3)

In [ ]:
iowa.isnull().sum()

In [ ]:
# Drop county_y column and rename county_x as county
iowa.drop('county_y', axis=1, inplace=True)
iowa.rename(columns={'county_x':'county'}, inplace=True)

### Create new columns with metrics

In [ ]:
# Just checking to make that that the 'sales' columns represents total revenue
iowa['sales_check'] = iowa['state_bottle_retail'] * iowa['bottles_sold']
print sum(iowa['sales_check']-iowa['sales'])
iowa.drop('sales_check', axis=1, inplace=True)

In [ ]:
# New metrics added to iowa
iowa['profit'] = (iowa['state_bottle_retail'] - iowa['state_bottle_cost']) * iowa['bottles_sold']
iowa['rev_per_ml'] = iowa['sales'] / iowa['volume_sold']
iowa['price_per_ml'] = iowa['state_bottle_retail'] / iowa['volume_sold']
iowa['margin_percent'] = iowa['profit'] / iowa['sales']
iowa['profit_per_ml'] = iowa['profit'] / iowa['volume_sold']
iowa['profit_%_per_ml'] = iowa['profit_per_ml'] / iowa['rev_per_ml']

In [ ]:
print 'Iowa is a "control state", meaning the state has direct control over the wholesale alcohol \
market. The state dictates retail prices at a set margin of 33.3%.'
print 'See Iowa Alcoholic Beverages Division for more info.'
iowa.iloc[:3,11:28]

In [ ]:
# Drop margin % columns (they are constant and will not affect model)
iowa.drop(['margin_percent', 'profit_%_per_ml'], inplace=True,axis=1)

# Add $margin per bottle as this is not a constant measure
iowa['profit_per_bottle'] = iowa['state_bottle_retail'] - iowa['state_bottle_cost']
iowa.iloc[:2,11:28]

### Drop stores that were only partially open in 2015

In [ ]:
# Check for stores that were not open for the full year or closed during the year
dates_open = iowa.groupby(["store"])["date"].agg([min, max])
dates_open.reset_index(inplace=True)
dates_open.tail(3)

In [ ]:
def open_date(x):
    if x > pd.to_datetime('2015-03-31'):
        return 1
    else:
        return 0
    
def close_date(x):
    if x <= pd.to_datetime('2015-12-31'):
        return 1
    else:
        return 0
    
dates_open["closed"] = dates_open["max"].apply(close_date)
dates_open["opened"] = dates_open["min"].apply(open_date)
dates_open["partial_year"] = dates_open["closed"] + dates_open["opened"]

In [ ]:
dates_open.tail(3)

In [ ]:
# List of 217 stores not open full year in 2015
partial_stores = list(dates_open[dates_open["partial_year"]!=0]["store"].values)
print 'Number of stores not open for full year 2015: ' + str(len(partial_stores))

open_stores = list(dates_open[dates_open['partial_year'] == 0]['store'].values)
print 'Total stores: '+ str(len(partial_stores) + len(open_stores))
print 'Total stores open all of 2015: ' + str(len(open_stores))

In [ ]:
# Amount of revenue generated by stores only partially open in 2015
partial_rev = sum(iowa[iowa['store'].isin(partial_stores)]['sales']) / sum(iowa['sales']) 
print 'Only ' + str(round(partial_rev*100,2)) + '% of sales from stores partially open in 2015'
print 'Sales from these 217 stores will be dropped from analysis'

## Create a new df with only stores open for full year 2015

In [ ]:
# Create new df consisting only of stores open for full year 2015
idf = iowa[iowa['store'].isin(open_stores)]

## Create a new df summarizing 2015 data only

In [ ]:
# Create a df summarizing total sales and revenues in 2015 at store-level
sum_metrics = ['sales', 'profit']
iowa_sum_2015 = idf[idf['year'] == 2015].groupby(['store'])[sum_metrics].agg(np.sum)
iowa_sum_2015.columns = ['2015_total_revenue','2015_profit']
iowa_sum_2015.reset_index(inplace=True)
print len(iowa_sum_2015)
iowa_sum_2015.describe(include='all')

In [ ]:
# Create a df summarizing mean metrics for 2015 at store-level
mean_metrics = ['sales', 'profit', 'price_per_ml', 'profit_per_ml', 'profit_per_bottle']
iowa_mean_2015 = idf[idf['year'] == 2015].groupby(['store'])[mean_metrics].agg(np.mean)
iowa_mean_2015.columns = ['2015_avg_rev','2015_avg_profit','2015_avg_price_per_ml', \
                         '2015_avg_profit_per_ml', '2015_avg_profit_per_bottle']
iowa_mean_2015.reset_index(inplace=True)
print len(iowa_mean_2015)
iowa_mean_2015.describe(include='all')

In [ ]:
# Create a df showing all days with sales for each store

idf_open = idf.loc[:,['store', 'date', 'year', 'quarter']]
idf_open.drop_duplicates(['store', 'date'], inplace=True)
idf.sort_values('store').head()

days_open_15 = idf_open[idf_open['year'] == 2015].groupby(['store'])[['date']].agg(len)
days_open_15.reset_index(inplace=True)
days_open_15.columns = ['store', 'days_open_15']
days_open_15['days_open_15'] = days_open_15['days_open_15'].astype(int)

In [ ]:
# Create daily metrics (rev_per_day and profit_per_day) with days_open data 
iowa_sum_2015['2015_rev_per_day'] = iowa_sum_2015['2015_total_revenue'] / days_open_15['days_open_15']
iowa_sum_2015['2015_profit_per_day'] = iowa_sum_2015['2015_profit'] / days_open_15['days_open_15']
iowa_sum_2015.head()

In [ ]:
# Create df of categorical variables only 
idf_category = idf.loc[:,['store', 'city', 'county', 'zip_code']].drop_duplicates()

# Merge (left join) iowa_sum, iowa_mean and days_open_15 to create df of all stores for 2015 data 
idf_2015 = pd.merge(idf_category, days_open_15, how='left', on='store'). \
merge(iowa_sum_2015, how='left', on='store').merge(iowa_mean_2015, how='left', on='store')
print len(idf_2015)
print 'Note: discrepancy between len(idf) and len(idf_2015) result of 2 stores each counted twice. No time to remove.'
idf_2015.head(3)

## Create a new df summarzing Q1-2015 data only

In [ ]:
# Create a df summarizing total sales and revenues in 2015 at store-level
sum_metrics = ['sales', 'profit']
iowa_sum_2015Q1 = idf[idf['quarter'] == 'Q1-2015'].groupby(['store'])[sum_metrics].agg(np.sum)
iowa_sum_2015Q1.columns = ['Q1-15_total_revenue','Q1-15_profit']
iowa_sum_2015Q1.reset_index(inplace=True)
print len(iowa_sum_2015Q1)

# Create a df summarizing mean metrics
mean_metrics = ['sales', 'profit', 'price_per_ml', 'profit_per_ml', 'profit_per_bottle']
iowa_mean_2015Q1 = idf[idf['quarter'] == 'Q1-2015'].groupby(['store'])[mean_metrics].agg(np.mean)
iowa_mean_2015Q1.columns = ['Q1-15_avg_rev','Q1-15_avg_profit','Q1-15_avg_price_per_ml', \
                         'Q1-15_avg_profit_per_ml', 'Q1-15_avg_profit_per_bottle']
iowa_mean_2015Q1.reset_index(inplace=True)
print len(iowa_mean_2015Q1)

# Create days_open df for Q1-2015
days_open_15Q1 = idf_open[idf_open['quarter'] == 'Q1-2015'].groupby(['store'])[['date']].agg(len)
days_open_15Q1.reset_index(inplace=True)
days_open_15Q1.columns = ['store', 'days_open_15Q1']
days_open_15Q1['days_open_15Q1'] = days_open_15Q1['days_open_15Q1'].astype(int)

In [ ]:
# Create daily metrics (rev_per_day and profit_per_day) with days_open data 
iowa_sum_2015Q1['rev_per_day'] = iowa_sum_2015Q1['Q1-15_total_revenue'] / days_open_15Q1['days_open_15Q1']
iowa_sum_2015Q1['profit_per_day'] = iowa_sum_2015Q1['Q1-15_profit'] / days_open_15Q1['days_open_15Q1']
iowa_sum_2015Q1.head()

In [ ]:
# Merge (left join) iowa_sum, iowa_mean and days_open_15 to create df of all stores for 2015 data 
idf_2015Q1 = pd.merge(idf_category, days_open_15Q1, how='left', on='store')
idf_2015Q1 = pd.merge(idf_2015Q1,iowa_sum_2015Q1, how='left', on='store'). \
merge(iowa_mean_2015Q1, how='left', on='store')

print len(idf_2015Q1)
print 'Note: discrepancy between len(idf) and len(idf_2015) result of 2 stores each counted twice. No time to remove.'
idf_2015Q1.head(3)

## Create a new df summarzing Q1-2016 data only

In [ ]:
# Create a df summarizing total sales and revenues in 2016 at store-level
sum_metrics = ['sales', 'profit']
iowa_sum_2016Q1 = idf[idf['quarter'] == 'Q1-2016'].groupby(['store'])[sum_metrics].agg(np.sum)
iowa_sum_2016Q1.columns = ['Q1-16_total_revenue','Q1-16_profit']
iowa_sum_2016Q1.reset_index(inplace=True)
print len(iowa_sum_2016Q1)

# Create a df summarizing mean metrics
mean_metrics = ['sales', 'profit', 'price_per_ml', 'profit_per_ml', 'profit_per_bottle']
iowa_mean_2016Q1 = idf[idf['quarter'] == 'Q1-2016'].groupby(['store'])[mean_metrics].agg(np.mean)
iowa_mean_2016Q1.columns = ['Q1-16_avg_rev','Q1-16_avg_profit','Q1-16_avg_price_per_ml', \
                         'Q1-16_avg_profit_per_ml', 'Q1-16_avg_profit_per_bottle']
iowa_mean_2016Q1.reset_index(inplace=True)
print len(iowa_mean_2016Q1)

# Create days_open df for Q1-2016
days_open_16Q1 = idf_open[idf_open['quarter'] == 'Q1-2016'].groupby(['store'])[['date']].agg(len)
days_open_16Q1.reset_index(inplace=True)
days_open_16Q1.columns = ['store', 'days_open']
days_open_16Q1['days_open'] = days_open_15Q1['days_open'].astype(int)

In [ ]:
iowa_sum_2016Q1.head(3)

In [ ]:
# Create daily metrics (rev_per_day and profit_per_day) with days_open data 
iowa_sum_2016Q1['rev_per_day'] = iowa_sum_2016Q1['Q1-16_total_revenue'] / days_open_16Q1['days_open']
iowa_sum_2016Q1['profit_per_day'] = iowa_sum_2016Q1['Q1-16_profit'] / days_open_16Q1['days_open']

# Merge (left join) iowa_sum, iowa_mean and days_open_15 to create df of all stores for 2016 data 
idf_2016Q1 = pd.merge(idf_category, days_open_16Q1, how='left', on='store')
idf_2016Q1 = pd.merge(idf_2016Q1,iowa_sum_2016Q1, how='left', on='store'). \
merge(iowa_mean_2016Q1, how='left', on='store')

idf_2016Q1.head(3)
print len(idf_2016Q1)
print 'Note: discrepancy between len(idf) and len(idf_2016) result of 2 stores each counted twice. No time to remove.'
idf_2016Q1.head(3)

In [ ]:
# Make sure all three new dfs are shame shape
print idf_2015.shape
print idf_2015Q1.shape
print idf_2016Q1.shape

In [ ]:
###################################################
a1 = idf_2015.copy()
a2 = idf_2015Q1.copy()
a3 = idf_2016Q1.copy()

## Merge 2015, Q1-2015 and Q2-2015 dfs

In [ ]:
stores_df = idf_2015.merge(idf_2015Q1, on=['store', 'county', 'city', 'zip_code'], how ='left')\
.merge(idf_2016Q1, on= ['store', 'county', 'city', 'zip_code'], how ="left")

In [ ]:
print stores_df.shape
print pd.DataFrame(stores_df.columns)
stores_df.head(3)

In [ ]:
# 1: Create idf_sums
idf_sums = idf.groupby(['store'])[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(np.sum)
idf_sums.reset_index(inplace=True)
idf_sums.head(3)

In [ ]:
# 2: Create idf_means
idf_means = idf.groupby(['store'])[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(np.mean)
idf_means.reset_index(inplace=True)
idf_means.columns = ['store', 'rev_per_sale', 'prof_per_sale', 'bott_per_sale', \
                    'vol_per_sale']
idf_means.head(3)

In [ ]:
# 3: Merge sums and means into idf_sales
idf_sales = idf_sums.merge(idf_means, how='inner', on='store')
idf_sales.head(3)

In [ ]:
iowa.head()

In [ ]:
# 4: Create new columns in idf for daily averages
idf['sales_pd_15'] = idf['sales'] / idf['days_open_15']
idf['profit_pd_15'] = idf['profit'] / idf['days_open_15']
idf['bottl_pd_15'] = idf['bottles_sold'] / idf['days_open_15']
idf['vol_pd_15'] = idf['volume_sold'] / idf['days_open_15']

idf['sales_pd_16'] = idf['sales'] / idf['days_open_16']
idf['profit_pd_16'] = idf['profit'] / idf['days_open_16']
idf['bottles_pd_16'] = idf['bottles_sold'] / idf['days_open_16']
idf['vol_pd_16'] = idf['volume_sold'] / idf['days_open_16']

In [ ]:
# 5: Separate daily average columns into own df
idf_pd = idf.groupby(['store'])[['sales_pd_15', 'profit_pd_15', 'vol_pd_15']].agg(np.sum)
idf_pd.reset_index(inplace=True)
idf_pd.head(3)

In [ ]:
# 6: Merge sales and daily average dfs
idf_metrics = idf_sales.merge(idf_pd, how='inner', on='store')
idf_metrics.head(3)

In [ ]:
# 7: Create location only df
idf_location = pd.pivot_table(idf, values=['sales'], index=['store', 'city', 'county', 'zip_code'], aggfunc=np.sum)
idf_location.reset_index(inplace=True)
idf_location.drop('sales', axis=1, inplace=True)
idf_location.head(3)

In [ ]:
# 8: Create new df by merging metrics and location
idf_new= idf_metrics.merge(idf_location, how='inner', on='store')
idf_new.head(3)

In [ ]:
# View correlations
col_list = idf_new.columns
idf_new.loc[:,col_list].corr()

In [ ]:
idf_new.loc[:,col_list].corr()['sales']

In [ ]:
idf.columns

In [ ]:
def my_pivot(df, index, values, aggfunc, plt=False):
    piv = pd.pivot_table(df, index=index, values=values, aggfunc=aggfunc)
    #piv.sort_values(by = ['week'], inplace=True)
    #print piv
    if plt: piv.plot(title= 'Average Current Liquor Sales by County',kind='hist', figsize=(16,8),bins=40)

my_pivot(idf, index=["county"], values=['sales'], aggfunc=np.mean, plt=True)

In [ ]:
sns.jointplot(x=idf_new['sales_pd_15'], y=idf_new['sales'])

In [ ]:
sns.jointplot(x=idf_new['vol_pd_15'], y=idf_new['sales'])

In [ ]:
sns.jointplot(x=idf_new['vol_per_sale'], y=idf_new['sales'])

In [ ]:
sns.jointplot(x=idf_new['bott_per_sale'], y=idf_new['sales'])

### Create new dataframe for Q1-2015 only

In [ ]:
idf15 = iowa[iowa['store'].isin(open_stores)]
idf15 = idf[idf['quarter'] == 'Q1-2015']

In [ ]:
idf15.head(5)

In [ ]:
# 1: Create idf_sums
idf15_sums = idf15.groupby(['store'])[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(np.sum)
idf15_sums.reset_index(inplace=True)

# 2: Create idf_means
idf15_means = idf15.groupby(['store'])[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(np.mean)
idf15_means.reset_index(inplace=True)
idf15_means.columns = ['store', 'rev_per_sale', 'prof_per_sale', 'bott_per_sale', \
                    'vol_per_sale']

# 3: Merge sums and means into idf_sales
idf15_sales = idf15_sums.merge(idf15_means, how='inner', on='store')
idf15_sales.head(3)

In [ ]:
# 4: Create new columns in idf for daily averages
days_open_Q1_15 = idf_open[idf_open['quarter'] == 'Q1-2015'].groupby(['store'])[['date']].agg(len)
days_open_Q1_15.reset_index(inplace=True)
days_open_Q1_15.columns = ['store', 'days_open_Q1_15']
days_open_Q1_15['days_open_Q1_15'] = days_open_Q1_15['days_open_Q1_15'].astype(int)

idf15['sales_pd_15'] = idf15['sales'] / days_open_Q1_15['days_open_Q1_15']
idf15['profit_pd_15'] = idf15['profit'] / days_open_Q1_15['days_open_Q1_15']
idf15['bottl_pd_15'] = idf15['bottles_sold'] / days_open_Q1_15['days_open_Q1_15']
idf15['vol_pd_15'] = idf15['volume_sold'] / days_open_Q1_15['days_open_Q1_15']

# 5: Separate daily average columns into own df
idf15_pd = idf.groupby(['store'])[['sales_pd_15', 'profit_pd_15', 'vol_pd_15']].agg(np.sum)
idf15_pd.reset_index(inplace=True)
idf15_pd.head(3)

In [ ]:
# 6: Merge sales and daily average dfs
idf15_metrics = idf15_sales.merge(idf15_pd, how='inner', on='store')
idf15_metrics.head(3)

In [ ]:
# 7: Create location only df
idf_location = pd.pivot_table(idf, values=['sales'], index=['store', 'city', 'county', 'zip_code'], aggfunc=np.sum)
idf_location.reset_index(inplace=True)
idf_location.drop('sales', axis=1, inplace=True)
idf_location.head(3)

# 8: Create new df by merging metrics and location
idf15_new= idf15_metrics.merge(idf_location, how='inner', on='store')
idf15_new.head(3)

In [ ]:
idf15_new['sales_2Q-4Q-15'] = idf_new['sales'] - idf15_new['sales']
idf15_new.head(3)

In [ ]:
iowa_2015 = iowa[iowa['year'] == 2015]
iowa_2016 = iowa[iowa['year'] == 2016]

In [ ]:
idf15_new['sales_2Q-4Q-15'].shape

In [ ]:
# train all models only on data from stores with full data from 2015 (no stores which opened or closed)

# base model - predict 2015 Q2-4 with just 2015Q1
y = idf15_new['sales_2Q-4Q-15']
X  = idf15_new['sales']
X = pd.DataFrame(X)

lm = linear_model.LinearRegression()
base_model = lm.fit(X,y)

print "Coef:", base_model.coef_
print "Intercept:", base_model.intercept_
print "Score:", base_model.score(X, y) 
print "MSE:", mean_squared_error(y, base_model.predict(X))

In [ ]:
print "Mean cross-val R2:",cross_val_score(lm, X, y, cv=5).mean()

In [ ]:
X_train, X_test, y_train, y_test = \
train_test_split(X, y, test_size=0.33)
lm = linear_model.LinearRegression()
train_base_model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

print "Train Test R2:", train_base_model.score(X_test, y_test)

### Full Year 2015

In [ ]:
# train all models only on data from stores with full data from 2015 (no stores which opened or closed)

# base model - predict 2015 Q2-4 with just 2015Q1
y = iowa[[iowa['quarter']=='Q1-2015']]
X  = idf_new['sales']
X = pd.DataFrame(X)

lm = linear_model.LinearRegression()
base_model = lm.fit(X,y)

print "Coef:", base_model.coef_
print "Intercept:", base_model.intercept_
print "Score:", base_model.score(X, y) 
print "MSE:", mean_squared_error(y, base_model.predict(X))

In [ ]:
ax = idf_sales.plot(kind="scatter", x='bottles_sold', y='profit', figsize=(10,6))
ax.set_title('profit x bottles', y=1.01, fontsize=30)
ax.set_xlabel('profit', fontsize=16)
ax.set_ylabel('bottles', fontsize=16)
ax.tick_params(axis='both', which='both', labelsize=16)

### Dataframes by store

In [ ]:
#Df showing full year sales by store 2015
print 'Nunique stores: ' + str(idf['store'].nunique())
idf_store_2015 = idf_2015.groupby(['store']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_store_2015.reset_index(inplace=True)
idf_store_2015.head(3)

In [ ]:
#Df showing full year sales by store 2016
print 'Nunique stores: ' + str(idf['store'].nunique())
idf_store_2016 = idf_2016.groupby(['store']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_store_2016.reset_index(inplace=True)
idf_store_2016.head(3)

In [ ]:
idf_store_2016.plot(x='store', y=['profit', 'sales'], kind= 'bar')

In [ ]:
#Df showing full year sales by county 2015
print 'Nunique counties: ' + str(idf['county'].nunique())
idf_county_2015 = idf_2015.groupby(['county']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_county_2015.reset_index(inplace=True)
idf_county_2015.tail(3)

idf_county_2015.plot(x='county', y='sales',label='total_2015_sales_by_county', kind='bar', figsize=(16,8))

In [ ]:
#Df showing full year sales by city 2015
print 'Nunique cities: ' + str(idf['city'].nunique())
idf_city_2015 = idf_2015.groupby(['city']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_city_2015.reset_index(inplace=True)
idf_city_2015.tail(3)

In [ ]:
#Df showing full year sales by zip 2015
print 'Nunique zip codes: ' + str(idf['zip_code'].nunique())
idf_zip_2015 = idf_2015.groupby(['zip_code']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_zip_2015.reset_index(inplace=True)
idf_zip_2015.tail(3)

In [ ]:
#Df showing full year sales by category
print 'Nunique categories: ' + str(idf['category_name'].nunique())
idf_category_2015 = idf_2015.groupby(['category_name']) \
[['sales', 'profit', 'bottles_sold', 'volume_sold']].agg(sum)
idf_category_2015.reset_index(inplace=True)
idf_category_2015.tail(3)

In [ ]:
quarter_sales = idf[idf["year"]==2015].groupby(["quarter"])["sales"].agg([np.sum])
quarter_sales.columns = ["Total Sales"]
quarter_sales = quarter_sales.applymap(lambda x: x/100000)

ax = quarter_sales.plot(kind="bar", figsize=(10,6))
ax.set_title("2015 Sales by Quarter", y=1.01, fontsize=30)
ax.set_xlabel('Quarter', fontsize=16)
ax.set_ylabel('Sales (in $mm)', fontsize=16)
ax.tick_params(axis='both', which='both', labelsize=16)

In [ ]:
def my_pivot(df, index, values, aggfunc, plt=False):
    piv = pd.pivot_table(df, index=index, values=values, aggfunc=aggfunc)
    #piv.sort_values(by = ['week'], inplace=True)
    #print piv
    if plt: piv.plot(title= 'Average Current Liquor Sales by County',kind='hist', figsize=(16,8),bins=40)

my_pivot(idf, index=["store"], values=['sales'], aggfunc=np.mean, plt=True)

In [ ]:
sns.heatmap(iowa.corr())

In [ ]:
iowa_target = pd.DataFrame(iowa['sales'])

In [ ]:
ax = sns.regplot(y_pred, y)
ax.figure.set_figheight(6)
ax.figure.set_figwidth(14)

ax.set_ylabel('Actual Values')
ax.set_xlabel('Predicted Values')
ax.set_title('Predicted vs. Actual Values');

In [ ]:
lr_r2 =  r2_score(y_true=y, y_pred=y_pred)
lr_r2

In [ ]:
len(lr_model.coef_)

In [ ]:
lr_model.coef_

In [ ]:
iowa['bottle_volume'].unique()

In [ ]:
{'vodka': }
#vodka
#schnapps
#whiskey
#rum
#scotch
#gin
#liqueurs
#brandies
#tequila
#beer
#other

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
len(iowa['County'].value_counts())

In [ ]:
iowa_county = pd.pivot_table(iowa, index=iowa['County'], values=['Sale (Dollars)'])
iowa_county.head()

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [ ]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.