In [15]:
import pandas as pd
%matplotlib inline
import matplotlib as plt
plt.rcParams['figure.figsize'] = (16.0, 8.0)
from datetime import datetime

In [2]:
santander = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/san.csv')

In [9]:
santander.head()

       ﻿Date  Open  High   Low  Close   Volume
0   2-Dec-16  4.53  4.56  4.50   4.52  6382650
1   1-Dec-16  4.55  4.59  4.54   4.58  6221367
2  30-Nov-16  4.51  4.55  4.50   4.52  4276541
3  29-Nov-16  4.47  4.51  4.44   4.48  5383333
4  28-Nov-16  4.46  4.48  4.40   4.41  4708096

In [3]:
starbux = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/sbux.csv')

In [10]:
starbux.head()

       ﻿Date   Open   High    Low  Close    Volume
0   2-Dec-16  56.65  57.75  56.57  57.21  16869957
1   1-Dec-16  57.34  58.52  57.20  58.51  12381607
2  30-Nov-16  58.19  58.25  57.86  57.97   9527959
3  29-Nov-16  57.64  58.21  57.50  58.17  10582850
4  28-Nov-16  57.00  57.86  56.76  57.59   8750925

In [4]:
sirius = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/siri.csv')

In [11]:
sirius.head()

       ﻿Date  Open  High   Low  Close    Volume
0   2-Dec-16  4.53  4.60  4.22   4.30  93331520
1   1-Dec-16  4.57  4.61  4.51   4.56  30968272
2  30-Nov-16  4.62  4.65  4.56   4.57  31387372
3  29-Nov-16  4.56  4.63  4.55   4.61  36473120
4  28-Nov-16  4.58  4.61  4.54   4.54  21318391

In [6]:
target = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/tgt.csv')

In [12]:
target.head()

       ﻿Date   Open   High    Low  Close   Volume
0   2-Dec-16  77.24  78.40  76.83  77.94  7523696
1   1-Dec-16  76.86  78.58  76.59  77.82  6685299
2  30-Nov-16  77.73  78.04  77.06  77.24  5819108
3  29-Nov-16  78.00  78.69  77.75  78.41  4693985
4  28-Nov-16  78.37  78.94  77.50  77.72  5405472

In [7]:
samsung = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/ssnlf.csv')

In [13]:
samsung.head()

       ﻿Date    Open    High     Low   Close  Volume
0  19-Oct-16  1250.0  1450.0  1250.0  1250.0     138
1  13-Oct-16  1425.0  1425.0  1425.0  1425.0     102
2  10-Oct-16  1350.0  1350.0  1350.0  1350.0      14
3   7-Oct-16  1350.0  1350.0  1350.0  1350.0     812
4   5-Oct-16  1600.0  1600.0  1600.0  1600.0     101

In [8]:
mmj = pd.read_csv('/Users/macbook/GA-DSI/curriculum/week-12/1.3-autocorrelation-lab/cbis.csv')

In [14]:
mmj.head()

       ﻿Date  Open  High   Low  Close    Volume
0   2-Dec-16  0.04  0.04  0.04   0.04  11988239
1   1-Dec-16  0.04  0.04  0.03   0.04  10241813
2  30-Nov-16  0.04  0.04  0.03   0.04  13240839
3  29-Nov-16  0.04  0.04  0.03   0.03  25569072
4  28-Nov-16  0.04  0.04  0.04   0.04  30781099