In [3]:
import sqlite3
import pandas as pd
import numpy as np

In [6]:
sqlite_db = 'likes-db.sqlite'
conn = sqlite3.connect(sqlite_db)
c2 = conn.cursor()

In [10]:
c2.execute('CREATE TABLE likes\
(field1 INTEGER PRIMARY KEY, name TEXT,\
fav_color TEXT, fave_num INTEGER);')

conn.commit()

In [13]:
students = [
    (None, 'Jocelyn', 'Red', 20),
    (None, 'Michael', 'Blue', 18),
    (None, 'Kristen', 'Blue', 7),
    (None, 'Andrew', 'Black', 8),
    (None, 'Sara', 'Purple', 3),
]

c2.executemany('INSERT INTO likes VALUES (?, ?, ?, ?)', students)

conn.commit()